<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./style.css">
   <title>Results</title>
</head>
<body>
   <h1>Price</h1>
   <div class="box">
   <p>Weight: <%= weight %></p>
   <p>Letter type: <%= type %></p>
   <h2>Total Price: $<%= price %></h2>
   </div>
   <button><a href="/">Get more rates</a></button>
</body>
</html>