body{
    background-color: rgb(2, 98, 143);
    color: white;
    text-align: center;
}

div{
    margin-left: 1.8%;
}

header{
    text-align: center;
    border: solid white;
    margin-bottom: 3%;
}

form{
  text-align: center;
}

input.sbt{
    margin-left: 2%;
}

:link, a:visited {
    background-color: white;
    color: navy;
    padding: 10px 20px;
    border: solid navy;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
  }
  
  a:hover, a:active {
    background-color: navy;
    color: white;
  }
